ol li {
	list-style-type: lower-latin !important;
}

ol li {
	padding: 15px 40px !important;
}

section{
	text-align: left !important;
}

h1 {
	font-size: 1.6em !important;
}

p {
	padding-left: 1em !important;
}

ol {
	padding-left: 2em !important;
}