<section class="part large-12 columns">
      <ul class="bundles row" data-accordion>

            {% assign section = include.section %}
            {% if include.context == section.context %}

            <li class="bundle ">
                  <a href="#panel-{{section.href}}">{{ section.title }}</a>

                  <div  id="panel-{{section.href}}" class="content">
                        <div class="row">
                              <div class="large-8 columns">
                                    <p>{{ section.kuvaus }}</p>
                                    <dl>
                                          {% for n in section.notes %}
                                          {% if n.first %}
                                          <dt>{{n.first[0]}}</dt>
                                          {% for m in n.first[1] %}
                                          <dd>{{m}}</dd>
                                          {% endfor %}
                                          {% else %}
                                          <dt>{{n}}</dt>
                                          {% endif %}

                                          {% endfor %}
                                    </dl>
                              </div>

                              <div class="large-4 end columns">  
                                    <a class="button" href="{{section.href}}.html">Tehtävät <i class="fa fa-angle-double-right"></i></a>
                              </div>  
                        </div>
                  </div>

            </li>
            {% endif %}
      </ul>
</section>