<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">

      <title>
            {% if page.title %}
            {{ page.title }} | {{ site.title }}
            {% else %}
            {{ site.title }}
            {% endif %}
      </title>

      <meta name="author" content="{{ site.author }}" />

      <!-- Description -->
      {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      {% else %}
      <meta name="description" content="{{ site.description }}">
      {% endif %}

      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

      

      <link rel="stylesheet" href="css/exsheet.css">
      <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

      <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

            <!--[if lt IE 9]>
            <script src="lib/js/html5shiv.js"></script>
            <![endif]-->
            <script src="{{"/bower_components/foundation/js/vendor/modernizr.js " | prepend: site.baseurl }}"></script>
            {% include newcommands.html %}

      </head>

      <body>

            <div class="row">
                  {{ content }}
            </div>
            

            <script src="{{'/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>



            <script>

                  $("h1.teht").each(function(i){

                        $(this).append("Tehtävä ").append(i+1).append(".");

                  });             

            </script>

            <script type="text/x-mathjax-config">
              MathJax.Hub.Config({
                extensions: ["tex2jax.js"],
                jax: ["input/TeX", "output/HTML-CSS"],
                tex2jax: {
                  inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                  displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                  processEscapes: false
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
      });
        </script>

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


        <script src="{{"/bower_components/jquery/dist/jquery.min.js "| prepend: site.baseurl}}"></script>
        <script src="{{"/bower_components/foundation/js/vendor/fastclick.js "| prepend: site.baseurl}}"></script>
        <script src="{{"/bower_components/foundation/js/foundation.min.js "| prepend: site.baseurl}}"></script>

        <script>
            $(document).foundation();
      </script>

      <script type="text/javascript">

            //var active = $(".zen");
            var ctrl_buttons = $(".ctrl-button");

            ctrl_buttons.hide();

            $('section').click(function(){
                  toggleSection( $(this) );
            });

            ctrl_buttons.click(function(e){
                  e.preventDefault();

                  var active = $(".zen");
                  var id = $(this).attr('id');

                  switch(id) {
                        case 'prev': {
                              toggleSection( active.prev() );
                              break;
                        }
                        case 'next': {
                              toggleSection( active.next() );
                              break;
                        }
                        case 'answer': {
                              $(".zen").find('.answer').toggle();
                        }
                  }
            });



            function toggleSection(s){
                  if( s.objectType !== 'undefined' ){

                        $('section').not(s).removeClass('zen');
                        s.toggleClass('zen');

                        toggleButtons( s );
                        hideAnswers();

                        // Where to scroll
                        var divPosition = s.offset();

                        // Scroll...
                        $('html, body').scrollTop(divPosition.top);
                  }
            }

            function toggleButtons(e){
                  if ( e.hasClass('zen') ) {
                        ctrl_buttons.show();
                  }
                  else{
                        ctrl_buttons.hide();
                  }
            }

            function hideAnswers() {
                  $("div.answer").hide();
            }
            function toggleAnswer(e) {
                  var answer = e.find("div.answer");
                  if ( e.hasClass('zen') ) {
                        answer.show();
                  }
                  else{
                        answer.hide();
                  }
            }

      
$(document).keydown(function(e) {

    switch(e.which) {
                    case 37: // left
                    break;

                    case 38: // up
                    break;

                    case 39: // right
                    break;

                    case 40: // down
                    break;

                    default: return; // exit this handler for other keys
              }
                e.preventDefault(); // prevent the default action (scroll / move caret)
          });
</script>
</body>
</html>