<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">

      <title>
            {% if page.title %}
            {{ page.title }} | {{ site.title }}
            {% else %}
            {{ site.title }}
            {% endif %}
      </title>

      <meta name="author" content="{{ site.author }}" />

      <!-- Description -->
      {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      {% else %}
      <meta name="description" content="{{ site.description }}">
      {% endif %}

      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

      

      <link rel="stylesheet" href="css/exsheet.css">
      <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

      <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

            <!--[if lt IE 9]>
            <script src="lib/js/html5shiv.js"></script>
            <![endif]-->
            <script src="{{"/bower_components/foundation/js/vendor/modernizr.js " | prepend: site.baseurl }}"></script>
            {% include newcommands.html %}

      </head>

      <body>

            <div class="row">
                  {{ content }}
            </div>
            

            <script src="{{'/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>



            <script>

                  $("h1.teht").each(function(i){

                        $(this).append("Tehtävä ").append(i+1).append(".");

                  });             

            </script>

            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX", "output/HTML-CSS"],
                    tex2jax: {
                        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                        processEscapes: false
                  },
                  "HTML-CSS": { availableFonts: ["TeX"] }
            });
          </script>

          <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


          <script src="{{"/bower_components/jquery/dist/jquery.min.js "| prepend: site.baseurl}}"></script>
          <script src="{{"/bower_components/foundation/js/vendor/fastclick.js "| prepend: site.baseurl}}"></script>
          <script src="{{"/bower_components/foundation/js/foundation.min.js "| prepend: site.baseurl}}"></script>

          <script>
            $(document).foundation();
      </script>

      <script type="text/javascript">
            var active;
            var ctrl_buttons = $("#control-buttons");
            ctrl_buttons.hide();

            $('section').click(function(){
                  // Ensure that only current section is in zen-mode
                  $('section').not(this).removeClass('zen');

                  // Where to scroll
                  var divPosition = $(this).offset();
                  // Scroll...
                  $('html, body').animate({scrollTop: divPosition.top}, 10);

                  // If soon in zen mode, set active to current id
                  if( ! $(this).hasClass('zen') )
                  {
                        active = $(this).attr('id');
                  }
                  else
                  {
                        active = null;
                  }
                        //location.hash="#"+$(this).attr('id');

                        toggleButtons();
                        hideAnswer();   
                        resetAnswerLink();                     

                        $(this).toggleClass('zen');
                  });



            function toggleButtons(){
                  if (active === null) {
                        ctrl_buttons.hide();
                  }
                  else{
                        ctrl_buttons.show();
                  }
            }

            function hideAnswer() {
                  $("div.answer").hide();
            }

            function resetAnswerLink() {
                  ctrl_buttons.find('.answer').text('Näytä vastaus');
            }

            ctrl_buttons.find('a').click(function(e){
                  e.preventDefault();
                  var answer_box, cls, section;

                  answer_box = $('#'+active).find('.answer');                  
                  cls = $(this).attr('class');
                  section = $('#'+active).closest('section');

                  resetAnswerLink();
                  hideAnswer();
                  
                  switch(cls){
                        case 'prev': 
                        section.prev().click();
                        break;
                        
                        case 'next': 
                        section.next().click();
                        break;
                        
                        case 'answer': 
                        answer_box.toggle();
                        if(answer_box.is(':hidden'))
                        {
                              $(this).text('Näytä vastaus');
                        }
                        else
                        {
                             $(this).text('Piilota');
                       }
                 }
           });
</script>
</body>
</html>