---
layout: slides
title: Funktiot ja yhtälöt
---


<section>
	<h1>{{page.title}}</h1>
	<h3>{{site.data.fuyh.size}} tehtävää</h3>
</section>

{% for tehtava in site.data.fuyh %}

<section>

{% for piece in tehtava.tehtava %}

{% if forloop.first %}

	<section>

	<h1 class="teht"></h1>

	<p> {{ piece }} </p>

{% endif %}

{% if piece.first %}
	{% case piece.first[0] %}
		{% when 'img' %}
			<div style="text-align:center">
				<img style="width:80%; background:white" src="{{ piece.first[1] | prepend: '/imgs/' | prepend: site.baseurl }}">
			</div>
		{% else %}
			<ol>
			{% for item in piece %}

				<li> {{ item }} </li>

			{% endfor %}
			</ol>
	{% endcase %}

{% elsif forloop.index > 1 %}

	</section>

	<section>
		{{ piece }}

{% endif %}

{% if forloop.last %}

	</section>

{% endif %}

{% endfor %}

	<section>
	<h2> Vastaus: </h2>
	{% if tehtava.vastaus.size > 1 %}
	<ol>
		{% for v in tehtava.vastaus %}
		<li> {{v}} </li>
		{% endfor %}
	</ol>
	{% elsif tehtava.vastaus[0].img %}

	<img src="{{tehtava.vastaus[0].img | prepend: '/imgs/' | prepend: site.baseurl}}">

	{% else %}

	{{tehtava.vastaus}}

	{% endif %}

	</section>

</section>

{% endfor %}

