---
layout: default
---

<div class="home">

  <h1 class="page-heading">Tehtävät, osa 1</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.context == 'osa1' %}
      <li>
        <h2>  
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Tehtävät, osa 2</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.context == 'osa2' %}
      <li>
        <h2>  
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
